<!-- Jquery overrides --> .ui-btn-inner{white-space:normal;}
.ui-li .ui-btn-text{white-space:normal;}
.ui-li-heading{white-space:normal;}
strong{padding:5px;}
p{padding:0px;}
.commentFooter{float:right;}
.reply{margin-left:10px;}